


<h1 class="p-5">Stupid Coaching</h1>
<h6 class="fst-italic">Ask your coach anything:</h6>
  <form class="container input-group mb-3" action="/answer" data-turbo="false">
    <input class= "form-control shadow-sm p-3 mb-5 bg-body rounded" type="text" name="question">
    <input class=" btn btn-primary p-3" type="submit" value="Ask!">
  </form>
