


<h1 class="p-5">Stupid Coaching</h1>
  <form class="container row input-group m-3 " action="/answer" data-turbo="false">
    <h5 class="fst-italic m-5">Ask your coach anything:</h5>
    <input class= "mt-3 form-control shadow-sm p-3 mb-5 bg-body rounded" type="text" name="question">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </form>
